body, header{
	font-family: 'Roboto', sans-serif;
  	font-size: 0.95rem !important;
}
.btn{
  font-size: 0.9rem !important;
}
@font-face {
  font-family: Roboto;
  src: url(../Roboto/Roboto-Light.ttf);
}
.hoverable.dark{
	background-color: #cfd8dc
}
.hoverable.light{
	background-color: transparent;
}
.hoverable{
	transition: background-color 250ms;
}
.hoverable.dark:hover{
	background-color: #b0bec5
}
.hoverable.light:hover{
 background-color: #eceff1
}
.font-size-full{
	font-size: 1rem;
}
.height-100{
	height: 100vh;
}
a:hover{
	text-decoration: none;
}
.modal{
	bottom: unset !important;
}
.modal-content{
	border: 0 !important
}
abbr[title]{
	text-decoration: none;
}
.btn.focus, .btn:focus{
	box-shadow: unset !important;
}
.small-select>.select-dropdown.dropdown-trigger{
	max-width: 70px
}
.caret{display: none;}
input:focus{
	outline: none;
}
code{
	background-color: #e9eff3;
	padding: 0 4px 0 4px;
	margin: 2px;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border-radius: 3px;
}
.line-height-2{
	line-height: 2
}
::selection{
	background-color: #26a69a;
	color: #fff;
}
/**/
.window {
  /*border-top-left-radius: 6px;
  border-top-right-radius: 6px;*/
  border-radius: 6px;
  border: 1px solid #adadad;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
}
.window__bar {
  background:
  radial-gradient(7px at 14px 50%, #ff5e57 0px, #ff635a 5px, #fd5249 6px, rgba(255, 255, 255, 0) 7px),
  radial-gradient(7px at 34px 50%, #ffbd2e 0px, #ffc42f 5px, #fcb91b 6px, rgba(255, 255, 255, 0) 7px),
  radial-gradient(7px at 54px 50%, #cfcfcf 0px, #d3d3d3 5px, #c6c6c6 6px, rgba(255, 255, 255, 0) 7px),
  linear-gradient(to top, #cccccc 0%, #d6d6d6 1px, #ebebeb 100%);
}
.window__bar {
  border: 1px solid white;
  border-left-color: #f3f3f3;
  border-right-color: #f3f3f3;
  border-bottom-color: #bdbdbd;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 20px;
  text-align: center;
  color: #505151;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
}